* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --style-word: #121218;
  --section: #706a6a;
  --noSelect: #1c1c2b;
}

.navigation {
  margin: 7.2rem 4rem;
  background-color: aqua;
  padding: 4rem;
}
.navigation nav {
  cursor: pointer;
  display: flex;
  gap: 72rem;
}

.navigation nav a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--noSelect);
}
.navigation a:hover {
  color: var(--style-word);
  font-weight: 700;
  font-size: 2.6rem;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  color: var(--style-word);
  overflow: hidden;
}
h1 {
  font-size: 5rem;
}

p {
  font-size: 1.8rem;
  margin-top: 1.6rem;
  margin-left: 10rem;
}

button:hover {
  background-color: var(--style-word);
  color: black;
  border-color: black;
}
