/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  font-size: 62.5%;
  --primary-color: #121218;
  --secondary-color: #706a6a;
  --hover-color: #1c1c2b;
  --background-color: #f9f9f9;
  --border-color: #ddd;
  --font-family: "Mulish", sans-serif;
}

/* Body and html styles */
html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  color: var(--primary-color);
  background-color: var(--background-color);
  overflow: hidden;
}

/* Navigation styles */
.navigation {
  padding: 2rem;
  background-color: aqua;
}

.navigation nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation nav a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--hover-color);
  transition: color 0.3s, font-size 0.3s;
}

.navigation nav a:hover {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2.6rem;
}

/* Main content area */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: calc(100vh - 100px); /* Adjust to fit the navigation */
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

/* Button styles */
button:hover {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid #000;
  transition: background-color 0.3s, color 0.3s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  :root {
    font-size: 50%;
  }

  .navigation nav {
    flex-direction: column;
    gap: 1rem;
  }

  .navigation nav a {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.6rem;
  }
}
